body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ================== HEADER =================== */

.first-letter-logo {
  color: #4d5ae5;
}

.logo-link-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.mail-link,
.phone-number-link {
  color: #434455;
}

.adress {
  font-style: normal;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.mail-link:hover,
.mail-link:focus {
  color: #404bbf;
}

.phone-number-link:hover,
.phone-number-link:focus {
  color: #404bbf;
}

.header-nav .link.current

/* ================== HEADER / =================== */

/* ================== MAIN =================== */
.section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}

.images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* HERO SECTION 1 */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
.button {
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

/* SECOND SECTION */

.second-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.second-section-description {
  color: #434455;
}

/* THIRD SECTION */

/* FOURTH SECTION */

.fourth-section-description {
  color: #434455;
}

/* ================== MAIN / =================== */

/* ================== PORTFOLIO  =================== */

.portfolio-project-descr {
  color: #434455;
}
.menu-portfolio-btn {
  color: #4d5ae5;
  cursor: pointer;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  flex-grow: 0;
  height: 48px;
}

.all-btn {
  width: 69px;
  order: 0;
}
.website-btn {
  width: 116px;
  order: 1;
}
.app-btn {
  width: 78px;
  order: 2;
}

.designer-btn {
  width: 101px;
  order: 3;
}
.marketing-btn {
  width: 126px;
  order: 4;
}

.menu-portfolio-btn:hover,
.menu-portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* ================== PORTFOLIO / =================== */

/* ================== FOOTER =================== */
.footer {
  background-color: #2e2f42;
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-description {
  color: #e7e9fc;
}

/* ================== FOOTER / =================== */
